body, html {
    margin: 0;

    font-family: 'Open Sans', sans-serif;

    background-color: orange;
}

.header {
    background-color: #FFF;
}

.header .header-contents {
    width: 500px;
    text-align: center;
    margin: 0 auto;

    padding-bottom: 10px;
    padding-top: 50px;

    background-color: #FFF;
}

.header table {
    width: 300px;
    margin: 0 auto;
}

.header table tr {
    text-align: left;
    color: gray;
}

.header table tr td:nth-child(1) {
    font-weight: bold;
}

.header ul {
    margin-top: 10px;
}

.header ul {
    list-style: none;
    padding: 0px;
}

.header ul li {
    padding: 0;
    display: inline-block;
}

.header ul li a {
    font-size: 40px;
    color: orange;
    display: inline-block;
    padding: 2px;
    padding-right: 10px;
    
    color: orange;
}

.contents p {
    margin: 0 auto;
    width: 500px;
    padding-top: 50px;
    font-style: italic;
    text-align: center;
}
