body, html {
    margin: 0;

    font-family: 'Open Sans', sans-serif;

    background-color: orange;
}

.header {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #FFF;

    box-shadow: inset 0 -10px 20px -10px rgba(0,0,0,0.6);
}

.header .header-contents {
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

.header table {
    width: 300px;
    margin:0 auto;
}

.header table tr {
    text-align: left;
    color: gray;
}

.header table tr td:nth-child(1) {
    font-weight: bold;
}

.header ul {
    margin-top: 10px;
}

.header ul {
    list-style: none;
    padding: 0px;
}

.header ul li {
    padding: 0;
    display: inline-block;
}

.header ul li a {
    font-size: 40px;
    color: ornage;
    display: inline-block;
    padding: 2px;
    padding-right: 10px;
    
    color: orange;
}

.contents {
    width: 600px;
    margin: 0 auto;
    font-style: italic;
    text-align: center;
}